.new-expense{
    background-color: rgba(7, 59, 66, 0.568);
    padding: 1rem;
    width: 30rem;
    max-width: 95%;
    text-align: center;
    margin: 2rem auto;
    border-radius: 13px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
}
.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 3px solid lemonchiffon;
    background-color: fuchsia;
    color: white;
    margin-top: 2rem;
    margin-right: 1 rem ;
    border-radius: 12px;
    align-items: flex-end;

}
.new-expense button :hover ,
.new-expense button :active{
    background-color: paleturquoise;
    border: khaki;
}

.new-expense button.alternative{
    color: slategrey;
    border: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: green;
}